n8n-workflow.json
{
  "name": "Telegram to Planner",
  "nodes": [
    {
      "parameters": {},
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "telegram-polling"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "filter-text",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-text",
      "name": "Только текст",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-TUNNEL-URL/api/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Token",
              "value": "YOUR-API-TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.message.text }}\",\n  \"source\": \"telegram\",\n  \"priority\": \"средний\"\n}",
        "options": {}
      },
      "id": "create-task",
      "name": "Создать задачу",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=✅ Задача добавлена: {{ $json.message.text }}"
      },
      "id": "send-success",
      "name": "Ответить: ОК",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=❌ Ошибка: {{ $json.error?.message || 'Попробуй позже' }}"
      },
      "id": "send-error",
      "name": "Ответить: Ошибка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Только текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Только текст": {
      "main": [
        [
          {
            "node": "Создать задачу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать задачу": {
      "main": [
        [
          {
            "node": "Ответить: ОК",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Ответить: Ошибка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
